// user-config.scss
//
// Here you can add, replace and edit the template config
// See /scss/core/helpers/config.scss for the default framework config
// See /scss/theme/common/config.scss for the default template config

$user-config: (
    // 'color': (
    //     'primary': red,
    // )

        'color': (
        'primary': #60D1AE, // #ce0f2e | #ff5d2c
        'secondary': #ffffff,
    ),
);