$sizing: (
    'px': 1px,
    '2px': 2px,
    '4px': 4px,
    '8px': 8px,
    '16px': 16px,
    '18px': 18px,
    '20px': 20px,
    '24px': 24px,
    '32px': 32px,
    '36px': 36px,
    '40px': 40px,
    '48px': 48px,
    '56px': 56px,
    '64px': 64px,
    '72px': 72px,
    '80px': 80px,
    '96px': 96px,
    '100px': 100px,
    '128px': 128px,
    '150px': 150px,
    '200px': 200px,
    '250px': 250px,
    '300px': 300px,
    '350px': 350px,
    '400px': 400px,
    '450px': 450px,
    '500px': 500px,
    '550px': 550px,
    '600px': 600px,
    '650px': 650px,
    '700px': 700px,
    '750px': 750px,
    '800px': 800px,
    '850px': 850px,
    '900px': 900px,
    '950px': 950px,
    '1000px': 1000px,
    '1170px': 1170px,
    '1280px': 1280px,
    '1320px': 1320px,
    '1440px': 1440px,
    'xs': 320px,
    'sm': 640px,
    'md': 720px,
    'lg': 1040px,
    'xl': 1280px,
    '2xl': 1312px,
    1\/6: 16.6666667%,
    2\/6: 33.3333333%,
    3\/6: 50%,
    4\/6: 66.6666667%,
    5\/6: 83.3333333%,
    1\/5: 20%,
    2\/5: 40%,
    3\/5: 60%,
    4\/5: 80%,
    1\/4: 25%,
    2\/4: 50%,
    3\/4: 75%,
    1\/3: 33.3333333%,
    2\/3: 66.6666667%,
    1\/2: 50%,
    '100': 100%,
    'full': 100%,
    'min': min-content,
    'max': max-content,
    'fit': fit-content,
    auto: auto,
    0: 0,
);

$sizing_max: (
    'none': none,
    'px': 1px,
    '2px': 2px,
    '4px': 4px,
    '8px': 8px,
    '16px': 16px,
    '18px': 18px,
    '20px': 20px,
    '24px': 24px,
    '32px': 32px,
    '36px': 36px,
    '40px': 40px,
    '48px': 48px,
    '56px': 56px,
    '64px': 64px,
    '72px': 72px,
    '80px': 80px,
    '96px': 96px,
    '100px': 100px,
    '128px': 128px,
    '150px': 150px,
    '200px': 200px,
    '250px': 250px,
    '300px': 300px,
    '350px': 350px,
    '400px': 400px,
    '450px': 450px,
    '500px': 500px,
    '550px': 550px,
    '600px': 600px,
    '650px': 650px,
    '700px': 700px,
    '750px': 750px,
    '800px': 800px,
    '850px': 850px,
    '900px': 900px,
    '950px': 950px,
    '1000px': 1000px,
    '1170px': 1170px,
    '1280px': 1280px,
    '1320px': 1320px,
    '1440px': 1440px,
    1\/6: 16.6666667%,
    2\/6: 33.3333333%,
    3\/6: 50%,
    4\/6: 66.6666667%,
    5\/6: 83.3333333%,
    1\/5: 20%,
    2\/5: 40%,
    3\/5: 60%,
    4\/5: 80%,
    1\/4: 25%,
    2\/4: 50%,
    3\/4: 75%,
    1\/3: 33.3333333%,
    2\/3: 66.6666667%,
    1\/2: 50%,
    'xs': 320px,
    'sm': 640px,
    'md': 720px,
    'lg': 1040px,
    'xl': 1280px,
    '2xl': 1312px,
    '100': 100%,
    'full': 100%,
    'min': min-content,
    'max': max-content,
    'fit': fit-content,
    0: 0,
);

$sizing_min: (
    'px': 1px,
    '2px': 2px,
    '4px': 4px,
    '8px': 8px,
    '16px': 16px,
    '18px': 18px,
    '20px': 20px,
    '24px': 24px,
    '32px': 32px,
    '36px': 36px,
    '40px': 40px,
    '48px': 48px,
    '56px': 56px,
    '64px': 64px,
    '72px': 72px,
    '80px': 80px,
    '96px': 96px,
    '100px': 100px,
    '128px': 128px,
    '150px': 150px,
    '200px': 200px,
    '250px': 250px,
    '300px': 300px,
    '350px': 350px,
    '400px': 400px,
    '450px': 450px,
    '500px': 500px,
    '550px': 550px,
    '600px': 600px,
    '650px': 650px,
    '700px': 700px,
    '750px': 750px,
    '800px': 800px,
    '850px': 850px,
    '900px': 900px,
    '950px': 950px,
    '1000px': 1000px,
    '1170px': 1170px,
    '1280px': 1280px,
    '1320px': 1320px,
    '1440px': 1440px,
    1\/6: 16.6666667%,
    2\/6: 33.3333333%,
    3\/6: 50%,
    4\/6: 66.6666667%,
    5\/6: 83.3333333%,
    1\/5: 20%,
    2\/5: 40%,
    3\/5: 60%,
    4\/5: 80%,
    1\/4: 25%,
    2\/4: 50%,
    3\/4: 75%,
    1\/3: 33.3333333%,
    2\/3: 66.6666667%,
    1\/2: 50%,
    'xs': 320px,
    'sm': 640px,
    'md': 720px,
    'lg': 1040px,
    'xl': 1280px,
    '2xl': 1312px,
    '100': 100%,
    'full': 100%,
    'min': min-content,
    'max': max-content,
    'fit': fit-content,
    0: 0,
);

$opacity: (
    0: 0,
    5: .05,
    10: .1,
    15: .15,
    20: .2,
    25: .25,
    30: .3,
    35: .35,
    40: .4,
    45: .45,
    50: .5,
    55: .55,
    60: .6,
    65: .65,
    70: .7,
    75: .75,
    80: .8,
    85: .85,
    90: .9,
    95: .95,
    100: 1,
);

$rounded: (
    null: var(--radius),
    default: 8px,
    '0-5': 2px,
    1: 4px,
    '1-5': 12px,
    2: 16px,
    '2-5': 20px,
    3: 24px,
    '3-5': 28px,
    4: 32px,
    '4-5': 36px,
    5: 40px,
    '5-5': 44px,
    6: 48px,
    '6-5': 52px,
    7: 56px,
    '7-5': 60px,
    8: 64px,
    '8-5': 68px,
    '9': 72px,
    '9-5': 76px,
    '10': 80px,
    circle: 50%,
    full: 100%,
    pill: 50rem,
    0: 0,
);

$timing: (
    0: 0ms,
    75: 75ms,
    100: 100ms,
    150: 150ms,
    200: 200ms,
    250: 250ms,
    300: 300ms,
    350: 350ms,
    400: 400ms,
    500: 500ms,
    600: 600ms,
    700: 700ms,
    750: 750ms,
    '1s': 1000ms,
    '2s': 2000ms,
    '3s': 3000ms,
    '4s': 4000ms,
    '5s': 5000ms,
    '10s': 10000ms,
);

$utilities: map-merge(
    $utilities,
    (
        "background-color": map-merge(
            map-get($utilities, "background-color"),
            ( state: hover focus, darkmode: true ),
        ),
        "color": map-merge(
            map-get($utilities, "color"),
            ( state: hover focus, darkmode: true ),
        ),
        "text-align": (
            responsive: true,
            property: text-align,
            class: text,
            values: (
                start: left,
                end: right,
                center: center,
            ),
            rtl: true
        ),
        "start": (
            property: left,
            class: start,
            values: $position-values,
            rtl: true
        ),
        "end": (
            property: right,
            class: end,
            values: $position-values,
            rtl: true
        ),
        "padding-start": (
            responsive: true,
            property: padding-left,
            class: ps,
            values: map-merge($spacers, (auto: auto)),
            rtl: true
        ),
        "padding-end": (
            responsive: true,
            property: padding-right,
            class: pe,
            values: map-merge($spacers, (auto: auto)),
            rtl: true
        ),
        "margin-start": (
            responsive: true,
            property: margin-left,
            class: ms,
            values: map-merge($spacers, (auto: auto)),
            rtl: true
        ),
        "margin-end": (
            responsive: true,
            property: margin-right,
            class: me,
            values: map-merge($spacers, (auto: auto)),
            rtl: true
        ),
        "negative-margin-start": (
            responsive: true,
            property: margin-left,
            class: ms,
            values: $negative-spacers,
            rtl: true
        ),
        "negative-margin-end": (
            responsive: true,
            property: margin-right,
            class: me,
            values: $negative-spacers,
            rtl: true
        ),
        "border-style": (
            property: border-style,
            class: border,
            values: solid dashed dotted double groove none
        ),
        "border-top": (
            responsive: true,
            property: border-top,
            values: (
                null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
                0: 0,
            )
        ),
        "border-end": (
            responsive: true,
            property: border-right,
            class: border-end,
            values: (
                null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
                0: 0,
            ),
            rtl: true
        ),
        "border-bottom": (
            responsive: true,
            property: border-bottom,
            values: (
                null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
                0: 0,
            )
        ),
        "border-start": (
            responsive: true,
            property: border-left,
            class: border-start,
            values: (
                null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
                0: 0,
            ),
            rtl: true
        ),
        "border-width": (
            responsive: true,
            property: border-width,
            class: border,
            values: $border-widths
        ),
        "border-color": map-merge(
            map-get($utilities, "border-color"),
            ( state: hover focus, darkmode: true ),
        ),
        "background-size": (
            property: background-size,
            class: bg,
            values: auto cover contain,
        ),
        "background-attachment": (
            property: background-attachment,
            class: bg,
            values: fixed local scroll,
        ),
        "background-position": (
            property: background-position,
            class: bg,
            values: center top right bottom left,
            rtl: true
        ),
        "background-repeat": (
            property: background-repeat,
            class: bg,
            values: repeat no-repeat repeat-x repeat-y round space,
        ),
        "display": (
            responsive: true,
            darkmode: true,
            state: hover,
            print: true,
            property: display,
            class: d,
            values: inline inline-block block grid table table-row table-cell flex inline-flex none,
            rtl: true,
        ),
        "font-size": (
            responsive: true,
            rfs: false,
            property: font-size,
            class: fs,
            values: $font-sizes,
            rtl: true
        ),
        "font-weight": (
            property: font-weight,
            class: fw,
            values: (
                'ultra-light': $font-weight-utralight,
                lighter: $font-weight-lighter,
                light: $font-weight-light,
                normal: $font-weight-normal,
                medium: $font-weight-medium,
                'semibold': $font-weight-semibold,
                bold: $font-weight-bold,
                bolder: $font-weight-bolder,
                'ultra-bold': $font-weight-ultrabold
            ),
            rtl: true
        ),
        "flex": (
            responsive: true,
            property: flex,
            values: (
                auto: 1 1 auto,
                fill: 1 1 auto,
                initial: 0 1 auto,
                1: 1 1 0%,
                none: none,
            )
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            class: justify,
            values: (
                start: flex-start,
                center: center,
                end: flex-end,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
            )
        ),
        "justify-items": (
            responsive: true,
            property: justify-items,
            values: ( start, center, end, stretch )
        ),
        "justify-self": (
            responsive: true,
            property: justify-self,
            values: ( auto, start, center, end, stretch )
        ),
        "align-content": (
            responsive: true,
            property: align-content,
            class: content,
            values: (
                start: flex-start,
                center: center,
                end: flex-end,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
                baseline: baseline,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            class: items,
            values: (
                start: flex-start,
                center: center,
                end: flex-end,
                stretch: stretch,
                baseline: baseline,
            )
        ),
        "align-self": (
            responsive: true,
            property: align-self,
            class: self,
            values: (
                auto: auto,
                start: flex-start,
                center: center,
                end: flex-end,
                stretch: stretch,
                baseline: baseline,
            )
        ),
        "place-content": (
            responsive: true,
            property: place-content,
            class: place,
            values: (
                start: flex-start,
                center: center,
                end: flex-end,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
                stretch: stretch,
                baseline: baseline,
            )
        ),
        "place-items": (
            responsive: true,
            property: place-items,
            values: ( start, center, end, stretch, baseline )
        ),
        "place-self": (
            responsive: true,
            property: place-self,
            values: ( auto, start, center, end, stretch )
        ),
        "row-span": (
            responsive: true,
            property: grid-row,
            class: g-row-span,
            values: (
                1: span 1 / span 1,
                2: span 2 / span 2,
                3: span 3 / span 3,
                4: span 4 / span 4,
                5: span 5 / span 5,
                6: span 6 / span 6,
                7: span 7 / span 7,
                8: span 8 / span 8,
                9: span 9 / span 9,
                10: span 10 / span 10,
                11: span 11 / span 11,
                12: span 12/ span 12,
                full: "1 / -1",
            )
        ),
        "row-start": (
            responsive: true,
            property: grid-row-start,
            class: g-row-start,
            values: 1 2 3 4 5 6 7 8 9 10 11 12 13 auto,
            rtl: true
        ),
        "row-end": (
            responsive: true,
            property: grid-row-end,
            class: g-row-end,
            values: 1 2 3 4 5 6 7 8 9 10 11 12 13 auto,
            rtl: true
        ),
        "row": (
            responsive: true,
            property: grid-row,
            class: g-row,
            values: (auto,)
        ),
        "col-span": (
            responsive: true,
            property: grid-column,
            class: g-col-span,
            values: (
                1: span 1 / span 1,
                2: span 2 / span 2,
                3: span 3 / span 3,
                4: span 4 / span 4,
                5: span 5 / span 5,
                6: span 6 / span 6,
                7: span 7 / span 7,
                8: span 8 / span 8,
                9: span 9 / span 9,
                10: span 10 / span 10,
                11: span 11 / span 11,
                12: span 12 / span 12,
                full: "1 / -1",
            )
        ),
        "col-start": (
            responsive: true,
            property: grid-column-start,
            class: g-col-start,
            values: 1 2 3 4 5 6 7 8 9 10 11 12 13 auto,
            rtl: true
        ),
        "col-end": (
            responsive: true,
            property: grid-column-end,
            class: g-col-end,
            values: 1 2 3 4 5 6 7 8 9 10 11 12 13 auto,
            rtl: true
        ),
        "col": (
            responsive: true,
            property: grid-column,
            class: g-col,
            values: (auto,)
        ),
        "text-decoration": (
            property: text-decoration,
            class: text,
            values: none underline overline line-through
        ),
        "text-truncate": (
            responsive: true,
            property: -webkit-line-clamp,
            class: text-truncate,
            values: 1 2 3 4 5 6
        ),
        "width": (
            responsive: true,
            state: hover focus,
            property: width,
            class: w,
            values: map-merge($sizing, ('screen': 100vw))
        ),
        "min-width": (
            responsive: true,
            state: hover,
            property: min-width,
            class: min-w,
            values: $sizing_min
        ),
        "max-width": (
            responsive: true,
            state: hover,
            property: max-width,
            class: max-w,
            values: $sizing_max
        ),
        "height": (
            responsive: true,
            state: hover,
            property: height,
            class: h,
            values: map-merge($sizing, ('screen': 100vh))
        ),
        "min-height": (
            responsive: true,
            state: hover,
            property: min-height,
            class: min-h,
            values: map-merge($sizing_min, ('screen': 100vh))
        ),
        "max-height": (
            responsive: true,
            state: hover,
            property: max-height,
            class: max-h,
            values: map-merge($sizing_max, ('screen': 100vh))
        ),
        "overflow": (
            responsive: true,
            property: overflow,
            values: unset auto hidden visible scroll,
        ),
        "overflow-x": (
            responsive: true,
            property: overflow-x,
            values: unset auto hidden visible scroll,
        ),
        "overflow-y": (
            responsive: true,
            property: overflow-y,
            values: unset auto hidden visible scroll,
        ),
        "icon": (
            responsive: true,
            property: width height font-size,
            class: icon,
            values: $icon
        ),
        "mask-x": (
            responsive: true,
            property: mask-image,
            class: mask-x,
            values: (
                null: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%),
                1: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%),
                2: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%),
                3: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                4: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%),
                0: none,
            )
        ),
        "mask-start": (
            responsive: true,
            property: mask-image,
            class: mask-start,
            values: (
                null: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%),
                1: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%),
                2: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%),
                3: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                4: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%),
                0: none,
            ),
            rtl: true
        ),
        "mask-end": (
            responsive: true,
            property: mask-image,
            class: mask-end,
            values: (
                null: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%),
                1: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%),
                2: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%),
                3: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                4: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%),
                0: none,
            ),
            rtl: true
        ),
        "shadow": (
            darkmode: true,
            state: hover,
            property: box-shadow,
            class: shadow,
            values: (
                null: $box-shadow,
                xs: $box-shadow-xs,
                sm: $box-shadow-sm,
                md: $box-shadow,
                lg: $box-shadow-lg,
                xl: $box-shadow-xl,
                '2xl': $box-shadow-2xl,
                none: none,
            )
        ),
        "contrast-shadow": (
            darkmode: true,
            state: hover,
            property: box-shadow,
            class: contrast-shadow,
            values: (
                null: 3px 3px 0 0 var(--shadowColor, black),
                xs: 1px 1px 0 0 var(--shadowColor, black),
                sm: 2px 2px 0 0 var(--shadowColor, black),
                md: 4px 4px 0 0 var(--shadowColor, black),
                lg: 8px 8px 0 0 var(--shadowColor, black),
                xl: 16px 16px 0 0 var(--shadowColor, black),
                none: none,
            )
        ),
        "text-shadow": (
            darkmode: true,
            state: hover,
            property: text-shadow,
            class: text-shadow,
            values: (
                null: 1px 1px 0 var(--shadowColor, black),
                xs: 1.5px 1.5px 0 var(--shadowColor, black),
                sm: 2px 2px 0 var(--shadowColor, black),
                md: 4px 4px 0 var(--shadowColor, black),
                lg: 8px 8px 0 var(--shadowColor, black),
                xl: 16px 16px 0 var(--shadowColor, black),
                '2xl': 24px 24px 0 var(--shadowColor, black),
                none: none,
            )
        ),
        "text-contrast-shadow": (
            darkmode: true,
            state: hover,
            property: text-shadow,
            class: text-contrast-shadow,
            values: (
                null: 1px 1px 0 0 var(--shadowColor, black),
                xs: 1.5px 1.5px 0 0 var(--shadowColor, black),
                sm: 2px 2px 0 0 var(--shadowColor, black),
                md: 4px 4px 0 0 var(--shadowColor, black),
                lg: 8px 8px 0 0 var(--shadowColor, black),
                xl: 16px 16px 0 0 var(--shadowColor, black),
                none: none,
            )
        ),
        "drop-shadow": (
            darkmode: true,
            state: hover,
            property: filter,
            class: drop-shadow,
            values: (
                null: drop-shadow(3px 3px var(--shadowColor, black)),
                xs: drop-shadow(1px 1px var(--shadowColor, black)),
                sm: drop-shadow(2px 2px var(--shadowColor, black)),
                md: drop-shadow(4px 4px var(--shadowColor, black)),
                lg: drop-shadow(8px 8px var(--shadowColor, black)),
                xl: drop-shadow(16px 16px var(--shadowColor, black)),
                none: none,
            )
        ),
        "line-height": (
            property: line-height,
            class: lh,
            values: (
                0: 0,
                1: 1,
                xs: .8,
                sm: .9,
                md: 1.1,
                lg: 1.2,
                xl: 1.4,
                xxl: 1.5,
            ),
            rtl: true
        ),
        "letter-spacing": (
            property: letter-spacing,
            class: ls,
            values: (
                0: 0,
                1: 1px,
                2: 2px,
                3: 3px,
                4: 4px,
                5: 5px,
                6: 6px,
            ),
            rtl: true
        ),
        "letter-spacing-negative": (
            property: letter-spacing,
            class: -ls,
            values: (
                1: -1px,
                2: -2px,
                3: -3px,
                4: -4px,
                5: -5px,
                6: -6px,
            ),
            rtl: true
        ),
        "opacity": (
            responsive: true,
            darkmode: true,
            state: hover,
            print: true,
            property: opacity,
            values: $opacity
        ),
        "bg-opacity": (
            darkmode: true,
            state: hover,
            css-var: true,
            class: bg-opacity,
            values: $opacity
        ),
        "border-opacity": (
            darkmode: true,
            state: hover,
            css-var: true,
            class: border-opacity,
            values: $opacity
        ),
        "text-opacity": (
            darkmode: true,
            state: hover,
            css-var: true,
            class: text-opacity,
            values: $opacity
        ),
        "object-fit": (
            property: object-fit,
            class: object,
            values: contain cover fill none scale-down
        ),
        "object-position": (
            property: object-position,
            values: center top right bottom left,
            rtl: true
        ),
        "transition-property": (
            state: hover,
            property: transition-property,
            class: 'transition',
            values: (
                null: ( color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter ),
                'all': all,
                'colors': ( color, background-color, border-color, text-decoration-color, fill, stroke ),
                'sizes': ( width, height, padding, margin ),
                'opacity': opacity,
                'shadow': shadow,
                'transform': transform,
                none: none,
            )
        ),
        "duration-property": (
            state: hover,
            property: transition-duration,
            class: 'duration',
            values: $timing
        ),
        "delay-property": (
            state: hover,
            property: transition-delay,
            class: 'delay',
            values: $timing
        ),
        "timing-function-property": (
            state: hover,
            property: transition-timing-function,
            class: null,
            values: (
                'ease-linear': linear,
                'ease-in': cubic-bezier(0.4, 0, 1, 1),
                'ease-out': cubic-bezier(0, 0, 0.2, 1),
                'ease-in-out': cubic-bezier(0.4, 0, 0.2, 1),
                'ease-elastic': cubic-bezier(1, 0, 1, 0),
                'ease-expo': cubic-bezier(1, 0, 0, 1),
                'ease-bounce': cubic-bezier(0.680, -0.550, 0.265, 1.550),
            )
        ),
        "transform-scale": (
            state: hover,
            responsive: true,
            property: transform,
            class: scale,
            values: (
                '0': scale(0),
                'x-0': scaleX(0),
                'y-0': scaleY(0),
                '50': scale(0.5),
                'x-50': scaleX(0.5),
                'y-50': scaleY(0.5),
                '75': scale(0.75),
                'x-75': scaleX(0.75),
                'y-75': scaleY(0.75),
                '90': scale(0.9),
                'x-90': scaleX(0.9),
                'y-90': scaleY(0.9),
                '95': scale(0.95),
                'x-95': scaleX(0.95),
                'y-95': scaleY(0.95),
                '100': scale(1),
                'x-100': scaleX(1),
                'y-100': scaleY(1),
                '105': scale(1.05),
                'x-105': scaleX(1.05),
                'y-105': scaleY(1.05),
                '110': scale(1.1),
                'x-110': scaleX(1.1),
                'y-110': scaleY(1.1),
                '125': scale(1.25),
                'x-125': scaleX(1.25),
                'y-125': scaleY(1.25),
                '150': scale(1.50),
                'x-150': scaleX(1.50),
                'y-150': scaleY(1.50),
            )
        ),
        "transform-translate": (
            state: hover,
            responsive: true,
            property: transform,
            class: translate,
            values: (
                'x-0': translateX(0),
                'y-0': translateY(0),
                'x-px': translateX(1px),
                'y-px': translateY(1px),
                'x-narrow': translateX(0.25rem),
                'y-narrow': translateY(0.25rem),
                'x-1': translateX(0.5rem),
                'y-1': translateY(0.5rem),
                'x-2': translateX(1rem),
                'y-2': translateY(1rem),
                'x-3': translateX(1.5rem),
                'y-3': translateY(1.5rem),
                'x-4': translateX(2rem),
                'y-4': translateY(2rem),
                'x-5': translateX(2.5rem),
                'y-5': translateY(2.5rem),
                'x-6': translateX(3rem),
                'y-6': translateY(3rem),
                'x-7': translateX(4rem),
                'y-7': translateY(4rem),
                'x-8': translateX(5rem),
                'y-8': translateY(5rem),
                'x-9': translateX(6rem),
                'y-9': translateY(6rem),
                'x-10': translateX(8rem),
                'y-10': translateY(8rem),
                'x-25': translateX(25%),
                'y-25': translateY(25%),
                'x-50': translateX(50%),
                'y-50': translateY(50%),
                'x-75': translateX(75%),
                'y-75': translateY(75%),
                'x-full': translateX(100%),
                'y-full': translateY(100%),
            )
        ),
        "transform-translate-negative": (
            state: hover,
            responsive: true,
            property: transform,
            class: -translate,
            values: (
                'x-px': translateX(-1px),
                'y-px': translateY(-1px),
                'x-narrow': translateX(-0.25rem),
                'y-narrow': translateY(-0.25rem),
                'x-1': translateX(-0.5rem),
                'y-1': translateY(-0.5rem),
                'x-2': translateX(-1rem),
                'y-2': translateY(-1rem),
                'x-3': translateX(-1.5rem),
                'y-3': translateY(-1.5rem),
                'x-4': translateX(-2rem),
                'y-4': translateY(-2rem),
                'x-5': translateX(-2.5rem),
                'y-5': translateY(-2.5rem),
                'x-6': translateX(-3rem),
                'y-6': translateY(-3rem),
                'x-7': translateX(-4rem),
                'y-7': translateY(-4rem),
                'x-8': translateX(-5rem),
                'y-8': translateY(-5rem),
                'x-9': translateX(-6rem),
                'y-9': translateY(-6rem),
                'x-10': translateX(-8rem),
                'y-10': translateY(-8rem),
                'x-25': translateX(-25%),
                'y-25': translateY(-25%),
                'x-50': translateX(-50%),
                'y-50': translateY(-50%),
                'x-75': translateX(-75%),
                'y-75': translateY(-75%),
                'x-full': translateX(-100%),
                'y-full': translateY(-100%),
            )
        ),
        "transform-rotate": (
            state: hover,
            responsive: true,
            property: transform,
            class: rotate,
            values: (
                0: rotate(0deg),
                1: rotate(1deg),
                2: rotate(2deg),
                3: rotate(3deg),
                6: rotate(6deg),
                12: rotate(12deg),
                45: rotate(45deg),
                90: rotate(90deg),
                180: rotate(180deg),
            ),
            rtl: true
        ),
        "transform-rotate-negative": (
            state: hover,
            responsive: true,
            property: transform,
            class: -rotate,
            values: (
                1: rotate(-1deg),
                2: rotate(-2deg),
                3: rotate(-3deg),
                6: rotate(-6deg),
                12: rotate(-12deg),
                45: rotate(-45deg),
                90: rotate(-90deg),
                180: rotate(-180deg),
            ),
            rtl: true
        ),
        "transform-origin": (
            state: hover,
            responsive: true,
            property: transform-origin,
            class: origin,
            values: (
                'center': center,
                'top': top,
                'top-right': top right,
                'top-left': top left,
                'left': left,
                'right': right,
                'bottom-right': bottom right,
                'bottom': bottom,
                'bottom-left': bottom left,
            ),
            rtl: true
        ),
        "order": (
            responsive: true,
            property: order,
            values: (
                first: -1,
                0: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                last: 6,
            ),
            rtl: true
        ),
        "blend-modes": (
            darkmode: true,
            state: hover,
            property: mix-blend-mode,
            class: blend,
            values: color color-burn color-dodge darken difference exclusion hard-light hue lighten luminosity multiply normal overlay plus-lighter revert saturation screen soft-light unset
        ),
        "blur": (
            darkmode: true,
            state: hover,
            property: filter,
            class: blur,
            values: (
                0: blur(0),
                1: blur( map-deep-get($blur, 1) ),
                2: blur( map-deep-get($blur, 2) ),
                3: blur( map-deep-get($blur, 3) ),
                4: blur( map-deep-get($blur, 4) ),
                5: blur( map-deep-get($blur, 5) ),
                6: blur( map-deep-get($blur, 6) ),
                7: blur( map-deep-get($blur, 7) ),
                8: blur( map-deep-get($blur, 8) ),
                9: blur( map-deep-get($blur, 9) ),
                10: blur( map-deep-get($blur, 10) ),
            )
        ),
        "backdrop": (
            darkmode: true,
            state: hover,
            property: backdrop-filter,
            class: backdrop,
            values: (
                0: blur(0),
                1: blur( map-deep-get($blur, 1) ),
                2: blur( map-deep-get($blur, 2) ),
                3: blur( map-deep-get($blur, 3) ),
                4: blur( map-deep-get($blur, 4) ),
                5: blur( map-deep-get($blur, 5) ),
                6: blur( map-deep-get($blur, 6) ),
                7: blur( map-deep-get($blur, 7) ),
                8: blur( map-deep-get($blur, 8) ),
                9: blur( map-deep-get($blur, 9) ),
                10: blur( map-deep-get($blur, 10) ),
            )
        ),
        "rounded": (
            responsive: true,
            state: hover,
            property: border-radius,
            class: rounded,
            values: $rounded
        ),
        "rounded-top": (
            responsive: true,
            state: hover,
            property: border-top-left-radius border-top-right-radius,
            class: rounded-top,
            values: $rounded
        ),
        "rounded-top-start": (
            responsive: true,
            state: hover,
            property: border-top-left-radius,
            class: rounded-top-start,
            values: $rounded,
            rtl: true
        ),
        "rounded-top-end": (
            responsive: true,
            state: hover,
            property: border-top-right-radius,
            class: rounded-top-end,
            values: $rounded,
            rtl: true
        ),
        "rounded-end": (
            responsive: true,
            state: hover,
            property: border-top-right-radius border-bottom-right-radius,
            class: rounded-end,
            values: $rounded,
            rtl: true
        ),
        "rounded-bottom": (
            responsive: true,
            state: hover,
            property: border-bottom-right-radius border-bottom-left-radius,
            class: rounded-bottom,
            values: $rounded
        ),
        "rounded-bottom-start": (
            responsive: true,
            state: hover,
            property: border-bottom-left-radius,
            class: rounded-bottom-start,
            values: $rounded,
            rtl: true
        ),
        "rounded-bottom-end": (
            responsive: true,
            state: hover,
            property: border-bottom-right-radius,
            class: rounded-bottom-end,
            values: $rounded,
            rtl: true
        ),
        "rounded-start": (
            responsive: true,
            state: hover,
            property: border-bottom-left-radius border-top-left-radius,
            class: rounded-start,
            values: $rounded,
            rtl: true
        ),
        "ratio": (
            responsive: true,
            property: --#{$prefix}aspect-ratio,
            class: ratio,
            values: (
                '1x1': 100%,
                '1x2': 200%,
                '2x1': 50%,
                '2x3': 150%,
                '3x2': 66.6666667%,
                '3x4': 133.333333%,
                '4x3': 75%,
                '16x9': 56.25%,
                '21x9': 42.8571428571%,
            )
        ),
        "z-index": (
            property: z-index,
            class: z,
            values: (
                1: 1,
                '1n': -1,
                2: 2,
                '2n': -2,
                3: 3,
                '3n': -3,
                99: 99,
                999: 999,
                1000: 1000,
                1020: 1020,
                1030: 1030,
                1040: 1040,
                1045: 1045,
                1050: 1050,
                1055: 1055,
                1060: 1060,
                1070: 1070,
                1080: 1080,
                1090: 1090,
                9999: 9999,
                0: 0,
            )
        ),
    )
);