/** TABLE OF CONTENTS
------------------------------------------------------------/
1 - Abstracts
        1.1 - # Sass Variables
        1.2 - # Sass Functions
        1.3 - # Sass Placeholders

2 - Base
        2.1 - # Reset/normalize
        2.2 - # Typography rules
        2.3 - # Keyframes
        2.4 - # Globalclasses
        2.5 - # Socialicon

3 - Components
        3.1 - Buttons
        3.2 - Form
4 - layout
        4.1 - Header
        4.2 - Footer
5 - pages
        5.1 - index
        5.2 - indexv2
        5.3 - blog detail
        5.4 - search listing
        5.5 - how it work
        5.6 - package
        5.7 - profile setting
        5.8 - tutor detail
        5.8 - login
6 - Responsive
        6.1 - Responsive Sass file
/// END TABLE OF CONTENTS **/


// 1 - Abstracts
@import "abstracts/variables",   
        "abstracts/functions",
        "abstracts/placeholders";

// 2 - Base
@import "base/reset", 
        "base/typography", 
        "base/socialicon", 
        "base/keyframes",
        "base/globalclasses";

// 3 - Components
@import "components/button",
        "components/form";

// 4 - Layout
@import "layout/header",
        "layout/footer";


// 5 - Pages
@import "pages/index",
        "pages/indexv2",
        "pages/blog-detail",
        "pages/search-listing",         
        "pages/how-it-work",         
        "pages/package",         
        "pages/profile-setting",         
        "pages/tutor-detail",
        "pages/login";


// 6 - Responsive
@import "responsive";