// Import custom scss for in-house components
@import 'base.scss';
@import 'image.scss';
@import 'svg.scss';
@import 'animate.scss';
@import 'preloader.scss';
@import 'marquee.scss';
@import 'swiper.scss';