[data-uc-animate],
[data-uc-animate] a {
    position: relative;
    overflow: hidden;
}

// Buttons custom animations
[data-uc-animate^="btn"] {
    &[data-uc-animate*="slide"] {
        > span,
        &::before {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            transition: transform 700ms cubic-bezier(0.17, 0.67, 0, 1.01), opacity 200ms ease-in-out;
        }
        > span:nth-child(2),
        &::before{
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
        &[data-text]::before {
            content: attr(data-text);
        }

        &[data-uc-animate~="slide-up"],
        &[data-uc-animate~="slide-down"] {
            flex-direction: column;
        }

        &[data-uc-animate~="slide-up"] {
            > span:nth-child(1) {
                transform: translateY(0%);
                opacity: 1;
            }
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateY(100%);
                opacity: 0;
            }
            &:hover {
                > span:nth-child(1) {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-down"] {
            > span:nth-child(1) {
                transform: translateY(0%);
                opacity: 1;
            }
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateY(-100%);
                opacity: 0;
            }
            &:hover {
                > span:nth-child(1) {
                    transform: translateY(100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-start"] {
            > span:nth-child(1) {
                transform: translateX(0%);
                opacity: 1;
            }
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateX(-100%);
                opacity: 0;
            }
            &:hover {
                > span:nth-child(1) {
                    transform: translateX(100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-end"] {
            > span:nth-child(1) {
                transform: translateX(0%);
                opacity: 1;
            }
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateX(100%);
                opacity: 0;
            }
            &:hover {
                > span:nth-child(1) {
                    transform: translateX(-100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
        }

    }

    &[data-uc-animate*="reveal"] {
        > span,
        &::before {
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: transform 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
            background: var(--reveal-bg, white);
            z-index: 0;
        }
        &[data-uc-animate~="reveal-up"] {
            &::after {
                transform: scaleY(0);
                transform-origin: top;
            }
            &:hover::after {
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }
        &[data-uc-animate~="reveal-down"] {
            &::after {
                transform: scaleY(0);
                transform-origin: bottom;
            }
            &:hover::after {
                transform: scaleY(1);
                transform-origin: top;
            }
        }
        &[data-uc-animate~="reveal-start"] {
            &::after {
                transform: scaleX(0);
                transform-origin: right;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
        &[data-uc-animate~="reveal-end"] {
            &::after {
                transform: scaleX(0);
                transform-origin: left;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }
}

// Links custom animations
[data-uc-animate^="link"] {
    &[data-uc-animate*="slide"] {
        a > span,
        a::before,
        > span,
        &::before {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            transition: transform 700ms cubic-bezier(0.17, 0.67, 0, 1.01), opacity 200ms ease-in-out;
            color: currentColor;
        }
        a > span:nth-child(2),
        a::before,
        > span:nth-child(2),
        &::before{
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
        a[data-text]::before,
        &[data-text]::before {
            content: attr(data-text);
        }

        &[data-uc-animate~="slide-up"] {
            a > span:nth-child(1),
            > span:nth-child(1) {
                transform: translateY(0%);
                opacity: 1;
            }
            a > span:nth-child(2),
            a[data-text]::before,
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateY(100%);
                opacity: 0;
            }
            &:hover,
            a:hover {
                > span:nth-child(1) {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-down"] {
            a > span:nth-child(1),
            > span:nth-child(1) {
                transform: translateY(0%);
                opacity: 1;
            }
            a > span:nth-child(2),
            a[data-text]::before,
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateY(-100%);
                opacity: 0;
            }
            &:hover,
            a:hover {
                > span:nth-child(1) {
                    transform: translateY(100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-start"] {
            a > span:nth-child(1),
            > span:nth-child(1) {
                transform: translateX(0%);
                opacity: 1;
            }
            a > span:nth-child(2),
            a[data-text]::before,
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateX(-100%);
                opacity: 0;
            }
            &:hover,
            a:hover {
                > span:nth-child(1) {
                    transform: translateX(100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
        }

        &[data-uc-animate~="slide-end"] {
            a > span:nth-child(1),
            > span:nth-child(1) {
                transform: translateX(0%);
                opacity: 1;
            }
            a > span:nth-child(2),
            a[data-text]::before,
            > span:nth-child(2),
            &[data-text]::before {
                transform: translateX(100%);
                opacity: 0;
            }
            &:hover,
            a:hover {
                > span:nth-child(1) {
                    transform: translateX(-100%);
                    opacity: 0;
                }
                > span:nth-child(2),
                &::before {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
        }

    }

    &[data-uc-animate*="line"] {
        overflow: unset;
        a > span,
        a::before,
        > span,
        &:not([data-uc-animate~="parent"])::before {
            z-index: 1;
        }
        a::after,
        &:not([data-uc-animate~="parent"])::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: var(--line-gap, 0);
            left: 0;
            height: 2px;
            transition: transform 700ms cubic-bezier(0.17, 0.67, 0, 1.01), opacity 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
            background: var(--reveal-bg, currentColor);
            z-index: 0;
        }
        &[data-uc-animate~="line-fade"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: none !important;
                opacity: 0;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                opacity: 1;
            }
        }
        &[data-uc-animate~="line-slideup"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: translateY(4px);
                opacity: 0;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                transform: translateY(0);
                opacity: 1;
            }
        }
        &[data-uc-animate~="line-slidedown"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: translateY(-4px);
                opacity: 0;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                transform: translateY(0);
                opacity: 1;
            }
        }
        &[data-uc-animate~="line-start"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: scaleX(0);
                transform-origin: right;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
        &[data-uc-animate~="line-center"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: scaleX(0);
                transform-origin: center;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                transform: scaleX(1);
                transform-origin: center;
            }
        }
        &[data-uc-animate~="line-end"] {
            a::after,
            &:not([data-uc-animate~="parent"])::after {
                transform: scaleX(0);
                transform-origin: left;
            }
            a:hover::after,
            &:not([data-uc-animate~="parent"]):hover::after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }
}

[data-uc-animate~="spin"] {
    animation: uc-spin 10s linear 0s infinite;
}

[data-uc-animate~="bounce"] {
    animation: uc-bounce 5s linear 0s infinite;
}

[data-uc-animate~="fade"] {
    animation: uc-fade 5s linear 0s infinite;
}

[data-uc-animate~="flash"] {
    animation: uc-flash 1s linear 0s infinite;
}

@keyframes uc-spin {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes uc-bounce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(16px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes uc-fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes uc-flash {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}