/** ====== Sass Placeholder ====== **/
@use "sass:list";
/** --- Transition placeholder --- **/
%transition{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/** --- Transition V2 placeholder --- **/
%transitiontwo{
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
/** --- flex placeholder --- **/
%flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/** --- Heading placeholder --- **/
%h1{font: 700 list.slash(rem(52),em(58,52)) $heading_font_family;}
%h2{font: 700 list.slash(rem(36),em(46,36)) $heading_font_family;}
%h3{font: 700 list.slash(rem(28),em(38,28)) $heading_font_family;}
%h4{font: 700 list.slash(rem(22),em(30,22)) $heading_font_family;}
%h5{font: 700 list.slash(rem(18),em(26,18)) $heading_font_family;}
%h6{font: 700 list.slash(rem(16),em(26,16)) $heading_font_family;}

/** --- Sub title placeholder --- **/
%small_title{font: 400 list.slash(rem(14),em(22,14)) $heading_font_family;}
%smaller_title{font: 400 list.slash(rem(13),em(22,13)) $heading_font_family;}
%smallest_title{font: 400 list.slash(rem(12),em(20,12)) $heading_font_family;}
%tiny_title{font: 400 list.slash(rem(10),em(16,10)) $heading_font_family;}

/** --- Paragraph placeholder --- **/
%p20{font: 400 list.slash(rem(20),em(30,20)) $body_font_family;}
%p18{font: 400 list.slash(rem(18),em(28,18)) $body_font_family;}
%p16{font: 400 list.slash(rem(16),em(26,16)) $body_font_family;}
%p15{font: 400 list.slash(rem(15),em(24,15)) $body_font_family;}
%p14{font: 400 list.slash(rem(14),em(24,14)) $body_font_family;}
%p13{font: 400 list.slash(rem(13),em(22,13)) $body_font_family;}

/** --- Readmore btn placeholder --- **/
%readmore-btn{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    width: 100%;
    font: 600 14px $heading_font_family;
    color: $dark;
    padding: 10px;
    margin-top: 20px;
}

/** --- Btn hover placeholder --- **/
%btnhover{
    content: '';
    background-color: rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    @extend %transition;
}

/** --- Shadow placeholder --- **/
%themeboxshadow{
    -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.04), 0px 3px 16px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.04), 0px 3px 16px rgba(0, 0, 0, 0.04);
}

/** --- Border placeholder --- **/
%border{border: 1px solid $lighter;}
%border-top{border-top: 1px solid $lighter;}
%border-bottom{border-bottom: 1px solid $lighter;}
%border-left{border-left: 1px solid $lighter;}
%border-right{border-right: 1px solid $lighter;}

/** --- Theme stars styling --- **/
.tu-stars span,
.tu-stars{
	width: 106px;
	height: 18px;
	line-height:18px;
	position:relative;
}
.tu-stars span:after,
.tu-stars:before {
	top: 0;
	left: 0;
	font-size: 18px;
	line-height: 18px;
	position: absolute;
    font-weight: 700;
	letter-spacing: 1px;
	font-family: "Font Awesome 6 Free";
	color: $lighter;
	content: '\f005 \f005 \f005 \f005 \f005';
}
.tu-stars span {
	width:100%;
	overflow: hidden;
    display: block;
}
.tu-stars span:after {color:$yellow;}